* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

input {
    height: 45px;
    width: 100%;
    color: #3B5983;
    font-size: 14px;
    line-height: 16px;
    border: 2px solid #E9F2FF;
    border-radius: 5px;
    padding-left: 25px;
}

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-title {
    color: #30507D;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 38px;
    text-align: center;
}

.login-form-container {
    position: relative;
    z-index: 2;
    max-width: 415px;
    width: 100%;
    padding: 38px 30px;
    background: #FFFFFF;
    box-shadow: 0 6px 50px rgba(217, 219, 255, 0.7);
    border-radius: 20px;
}

.form-field {
    margin-bottom: 13px;
}

.button {
    font-weight: bold;
    font-size: 14px;
    display: block;
    height: 35px;
    width: 100%;
    background: #247FFF;
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    line-height: 35px;
}

.button:hover {
    background-color: #0D6CF2;
}

a {
    text-decoration: none;
    color: #fff;
}

.registration {
    text-decoration: none;
    color: #fff;
}

.divider {
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: #405D87;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}